<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Aquesta és la pàgina principal del projecte MIB</p>

    <form action="snmpquery" method="post">
        <div>
            <label for="version">SNMP version: </label>
            <select name="version" id="version">
                <option value="1">SNMPv1</option>
                <option value="2c">SNMPv2c</option>
            </select>
        </div>
        
        <div>
            <label for="rocommunity">read only Community: </label> <input type="password" name="rocommunity" id="rocommunity" value="public"/>
        </div>

        <div>
            <label for="agent">Agent: </label> <input type="text" id="agent" name="agent" placeholder="IP o nom de domini" value="192.168.56.101"/>
        </div>

        <div>
            <label for="MIB">MIB: </label>
            <select name="MIB" id="MIB">
                <option value="SNMPv2-MIB">SNMPv2-MIB</option>
            </select>
        </div>

        <div>
            <label for="OID">OID: </label>
            <select name="OID" id="OID" size="10">
                <option value="1.3.6.1.2.1.1.1" selected>.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).system(1).sysDescr(1)</option>
                <option value="1.3.6.1.2.1.1.3">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).system(1).sysUpTime(3)</option>
                <option value="1.3.6.1.2.1.1.4">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).system(1).sysContact(4)</option>
                <option value="1.3.6.1.2.1.1.5">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).system(1).sysName(5)</option>
                <option value="1.3.6.1.2.1.2.1">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).interfaces(2).ifNumber(1)</option>
                <option value="1.3.6.1.2.1.2.2.1.2">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).interfaces(2).ifTable(2).ifEntry(1).ifDescr(2)</option>
                <option value="1.3.6.1.2.1.2.2.1.8">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).interfaces(2).ifTable(2).ifEntry(1).ifOperStatus(8)</option>
                <option value="1.3.6.1.2.1.4.20.1.1">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).ip(4).ipAddrTable(20).ipAddrEntry(1).ipAdEntAddr(1)</option>
                <option value="1.3.6.1.2.1.6.13.1.3">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).tcp(6).tcpConnTable(13).tcpConnEntry(1).tcpConnState(3)</option>
                <option value="1.3.6.1.2.1.7.5.1.1">.iso(1).org(3).dod(6).internet(1).mgmt(2).mib-2(1).udp(7).udpTable(5).udpEntry(1).udpLocalAddress(1)</option>

            </select>
        </div>

        <div>
            <label for="snmpget">SNMPGET: </label>
            <input type="radio" name="query" id="snmpget" value="snmpget" checked/>
        </div>
        <div>
            <label for="snmpnext">SNMPNEXT: </label>
            <input type="radio" name="query" id="snmpnext" value="snmpnext" />
        </div>
        <div>
            <label for="snmpbulk">SNMPBULK (V2C): </label>
            <input type="radio" name="query" id="snmpbulk" value="snmpbulk" />
        </div>
        <div>
            <label for="snmpset">SNMPSET: </label>
            <input type="radio" name="query" id="snmpset" value="snmpset" />
        </div>

        <div>
            <input type="submit" value="Enviar consulta" />
        </div>
    </form>
</body>
</html>